---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';

export async function createCollection() {
  const tipsResponse = await fetch('http://localhost:1337/tips');
  const tips = await tipsResponse.json();

  return {
    route: '/tips/:id',
    paths() {
      return tips.map(tip => ({params: {id: tip.id}}));
    },
    async props({params}) {
      return {item: tips.find(tip => tip.id === params.id)};
    }
  };
}

const {item} = Astro.props;
---

<BaseLayout title={item.title}>
  <h2>{item.title}</h2>
  <article>
    <div>Tip from: {item.author}</div>
    <div>
      <Markdown content={item.content} />
    </div>
  </article>
</BaseLayout>