---
import {getTips} from '../data/tips'

import {Markdown} from 'astro/components';
import BaseLayout from '../layouts/BaseLayout';
import PageHeading from '../components/PageHeading';

export async function createCollection() {
  const tips = await getTips();

  return {
    route: '/tips/:id',
    paths() {
      return tips.map(tip => ({params: {id: tip.id}}));
    },
    async props({params}) {
      return {item: tips.find(tip => tip.id === params.id)};
    }
  };
}

const {item} = Astro.props;
---

<BaseLayout title={item.title}>
  <PageHeading heading={item.title} />
  <article>
    <div>Tip from: {item.author}</div>
    <div>
      <Markdown content={item.content} />
    </div>
  </article>
</BaseLayout>